.signUpContainer {
    background-color: rgb(69, 69, 197);
    border: 2px blue;
    height: 230px;
    display: flex;
    justify-content: center;
    border: 6px solid rgb(20, 12, 133);
}


.signUpContainerContent {
    font-size: 17px;
    color: rgb(4, 4, 143);
    text-align: center;
    width: 450px;
    margin:  auto 0;
}

.signUpContainer p, h2 {
    color: white;
}

.seacrhContainer {
    background-color: white;
    display: flex;
    height: 40px;
    align-items: center;
}

.seacrhContainer input {
    border: none;
    margin-left: 20px;
    width: 87%;
}

.seacrhContainer input:focus {
    outline: none;
}

.seacrhContainer input[text] {
    margin-left: 10px;
}

.seacrhContainer a:hover {
    background-color: rgb(30, 30, 230);
    border-radius: 35px;
}
