.container {
    width: 100%;
    text-align: center;
    background-color: #0000ff;
    padding: 0;
    margin: 0;
    overflow: auto;
}

img {
    width: auto;
    height: 18px;
}

.social{
    height: 28px;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

img {
    max-height: 20px;
}


.title {
    display: grid;
    grid-template-columns:  repeat(12, 1fr);
    align-items: center;
    margin: 0;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.titleContainer {
    background-color: #0080ff;
}

.ptitle {
    font-size: 25px;
    color: white;
    padding: 10px 20px;
    grid-column: 2/6;
}


.subscribe {
    grid-column: 10/12;
}

.subscribeButton {
    background-color: yellow;
    padding: 10px 80px;
}