.container {
    width: 100%;
    text-align: center;
    background-color: #0000ff;
}

.content {
    text-align: center;
    width: 85%;
}

.social{
    display: grid;
}

img {
    padding: 2px;
}

span {
    align-items: center;
    margin-right: 14px;
}

.title {
    background-color: #0080ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ptitle {
    font-size: 25px;
    color: white;
    padding: 20px 60px;
}