body{
  margin: 0;
  padding: 0;
  background-color: coral;
}

.container{
  max-width: 1000px;
  width: 80%;
  background-color: bisque;
  margin: 20px auto;
  padding: 0;
}
.picture{
  padding: 0;
  margin: 0;
}


.title{
  font-size: 1em;
}

.description{
  font-size: 0.85em;
}

.containerfooter{
  text-align: right;
  align-content: center;
  padding: 0;
  margin: 5px 10px;
}

.date{
  font-size: 0.7em;
}

.author{
  font-size: 0.75em;
}

a{
  text-decoration: none;
}

img{
  height: auto;
  width: 100%;
}
a:hover{
  color: blueviolet;
}

select{
  font-size: 1.15em;
  margin: 5px;
}
label{
  font-size: 1.2em;
}
.selectcontainer{
  text-align: center;
}

.header{
  text-align: center;
  font-size: 2em;
}